<div id="<%= dom_id quote %>">
  <p>
    <strong>Saying:</strong>
    <%= quote.saying_length %>
  </p>

  <p>
    <strong>Said by:</strong>
    <%= quote.said_by_length %>
  </p>

  <p>
    <strong>Votes:</strong>
    <%= quote.votes %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= quote.year_length %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= quote.notes %>
  </p>

</div>
