<h1 class="d-flex justify-content-center">Quotes</h1>
<%= link_to new_quote_path, class: "btn btn-primary" do %>
 <i class="bi bi-plus" ></i> New Quote
<% end %>

<table class="table">
<thead>
<tr>
<th>Quote</th>
<th>Quote by</th>
<th>Votes</th>
<th></th>
<th></th>
<thead>
</tr>
  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.saying %></td>
        <td><%= quote.said_by %></td>
        <td><%= quote.votes %></td>
        <td><%= quote.year %></td>
        <td><%= quote.notes %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote), class: "btn btn-primary" %></td>
        <td><%= button_to 'Delete', quote, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

